/* Drag test */
#parent{
	width: 200px;
	height: 200px;
	background-color: red;
	padding:10px;
}

#child{
	width: 20px;
	height: 20px;
	background-color: white;
}

/* Drag test */
.scrollable{
	height:400px;
	overflow:hidden;
	float: left;
}

.scroll-content, .scroller{
	float:left;
}

.scroll-content{
	width:300px;
}

.scroller-up-down{
	width: 10px;
	height: 10px;
	background-color: black;
	cursor: pointer;
}

.scroller-up{

}

.scroller-down{

}

.scroller-handle-wrap{
	width: 10px;
	height: auto;
}

.scroller-handle{
	background-color: black;
	width: 100%;
}

/* Smooth CSS3 transitions for scroller */
.smooth .scroller-handle{
	
}