/* Drag test */
.draggable{
	width: 200px;
	height: 200px;
	background-color: red;
	padding: 10px;
	margin: 20px;
}

.element{
	width: 20px;
	height: 20px;
	background-color: white;
}

/* All scroller content */


/* Vertically Oriented Scroller */
.vertical .scrollable{
	padding: 10px 0 10px 10px;
}

#vertical-scroller{
	overflow:hidden;
	float:none;
}
.vertical.scrollable{
	height: 400px;
	overflow:hidden;
	float: left;
}

.vertical .scroll-content, .vertical .scroller{
	float:left;
}

.vertical .scroll-content{
	width:300px;
}

.vertical .scroller-up-down{
	height: 10px;
	background-color: black;
	cursor: pointer;
}

.vertical .scroller-handle-wrap{
	height: auto;
	background-color: #FFF;
	border-radius: 10px;
    -moz-box-shadow: 0 0 3px 3px #DDD inset;
	-webkit-box-shadow: 0 0 3px 3px #DDD inset;
    box-shadow: 0 0 3px 3px #DDD inset;
}

.vertical .scroller-handle-wrap, .vertical .scroller-up-down{
	width: 14px;
}

.vertical .scroller-handle{
	border-radius: 5px;
	margin: 4px;
	width: 6px;
	background-color:#CCC;
}

/* Horizontally Oriented Scroller */
.horizontal .scrollable{
	border: solid black 1px;
}

.horizontal.scrollable{
	width: 400px;
	overflow:hidden;
}

.horizontal .scroll-content{
	width:2000px;
}

.horizontal .scroller-up-down{
	width: 10px;
	height: 10px;
	background-color: black;
	cursor: pointer;
}

.horizontal .scroller-up-down, .horizontal .scroller-handle-wrap{
	float: left;
}

.horizontal .scroller-handle-wrap{
	height: 10px;
	width: auto;
}

.horizontal .scroller-handle{
	background-color: black;
	height: 100%;
}

/*  */